
<font size="8"><center>**Heart Failure Analysis**</center></font>

# Group information

| ID       | Name        | Task | Contribution rate |
|:--------:|:------------|:----:|:-----------------:|
| 20127323 | Võ Nhật Tân |      | 50%               |
| 20127447 | Ngô Đức Bảo |      | 50%               |

# Dataset information

## Subject of the data
- Heart failure is a common event caused by cardiovascular diseases (CVDs), which are the main reason leading to death globally. As a result, people with cardiovascular disease or who are at high cardiovascular risk (due to the presence of one or more risk factors such as hypertension, diabetes, hyperlipidaemia or already established disease) need early detection and management.

## Source of the data and how this dataset collected?
- This dataset was created by combining different datasets already available independently but not combined before. In this dataset, 5 heart datasets are combined over 11 common features which makes it the largest heart disease dataset available so far for research purposes. The five datasets used for its curation are:

    * ***Cleveland***: 303 observations
    * ***Hungarian***: 294 observations
    * ***Switzerland***: 123 observations
    * ***Long Beach VA***: 200 observations
    * ***Stalog (Heart) Data Set***: 270 observations
    
    
        ==> Total: 1190 observations
        Duplicated: 272 observations
        Final dataset: 918 observations

- Every dataset used can be found under the Index of heart disease datasets from UCI Machine Learning Repository on the following link: https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/

## Copyright
- The data is free for sharing, creating and adapting. This license can be seen in that [link](https://opendatacommons.org/licenses/odbl/1-0/).
- The creators of this dataset:
    1. Hungarian Institute of Cardiology. Budapest: Andras Janosi, M.D.
    2. University Hospital, Zurich, Switzerland: William Steinbrunn, M.D.
    3. University Hospital, Basel, Switzerland: Matthias Pfisterer, M.D.
    4. V.A. Medical Center, Long Beach and Cleveland Clinic Foundation: Robert Detrano, M.D., Ph.D.
- Donor:
    * David W. Aha (aha '@' ics.uci.edu) (714) 856-8779

# Data exploration

In [1]:
import numpy as np
import pandas as pd

## Load the dataset

In [2]:
heart_df = pd.read_csv('heart.csv')
heart_df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

## Get size of the dataset

In [3]:
row_size, col_size = heart_df.shape
print(f'A number of column: {col_size}')
print(f'A number of row: {row_size}')

A number of column: 12
A number of row: 918

## Exploring the rows

### Meaning of each rows

- Each row represents the case which is recorded

### Check the duplicated row

In [4]:
count_duplicated_row = heart_df.duplicated().sum()
print(f"Count the duplicated rows: {count_duplicated_row}")

Count the duplicated rows: 0

* Dataset don't have the duplicated rows.

## Exploring the columns

### Meaning of the columns

|  | Attributre     | Description                                                                                          |
|:------:|:---------------|:-----------------------------------------------------------------------------------------------------|
| 1      | Age            | age of the patient [years]                                                                           |
| 2      | Sex            | sex of the patient [M: Male, F: Female]                                                              |
| 3      | ChestPainType  | chest pain type [TA: Typical Angina, ATA: Atypical Angina, NAP: Non-Anginal Pain, ASY: Asymptomatic] |
| 4      | RestingBP      | resting blood pressure [mm Hg]                                                                       |
| 5      | Cholesterol    | serum cholesterol [mm/dl]                                                                            |
| 6      | FastingBS      | fasting blood sugar [1: if FastingBS > 120 mg/dl, 0: otherwise]                                      |
| 7      | RestingECG     | resting electrocardiogram results [Normal, ST, LVH]                                                  |
| 8      | MaxHR          | maximum heart rate achieved [Numeric value between 60 and 202]                                       |
| 9      | ExerciseAngina | exercise-induced angina [Y: Yes, N: No]                                                              |
| 10     | Oldpeak        | oldpeak = ST [Numeric value measured in depression]                                                  |
| 11     | ST_Slope       | the slope of the peak exercise ST segment [Up: upsloping, Flat: flat, Down: downsloping]             |
| 12     | HeartDisease   | output class [1: heart disease, 0: Normal]                                                           |

### Datatype of each columns

In [7]:
heart_df.dtypes

Age                 int64
Sex                object
ChestPainType      object
RestingBP           int64
Cholesterol         int64
FastingBS           int64
RestingECG         object
MaxHR               int64
ExerciseAngina     object
Oldpeak           float64
ST_Slope           object
HeartDisease        int64
dtype: object